<?xml version="1.0"?>
<config>
    <mysql>
        <hostname>127.0.0.1</hostname>
        <port>3306</port>
        <username>acore</username>
        <password>acore</password>
        <database>
            <auth>acore_auth</auth>
            <characters>acore_characters</characters>
            <world>acore_world</world>
        </database>
    </mysql>
    <core>
        <directory>/opt/azerothcore</directory>
        <required_client_data>12</required_client_data>
        <installed_client_data>0</installed_client_data>
    </core>
    <world>
        <name>AzerothCore</name>
        <motd>Welcome to AzerothCore.</motd>
        <id>1</id>
        <ip>127.0.0.1</ip>
        <game_type>0</game_type>
        <realm_zone>0</realm_zone>
        <expansion>2</expansion>
        <player_limit>1000</player_limit>
        <skip_cinematics>0</skip_cinematics>
        <max_level>80</max_level>
        <start_level>1</start_level>
        <start_money>0</start_money>
        <always_max_skill>0</always_max_skill>
        <all_flight_paths>0</all_flight_paths>
        <maps_explored>0</maps_explored>
        <allow_commands>1</allow_commands>
        <quest_ignore_raid>0</quest_ignore_raid>
        <prevent_afk_logout>0</prevent_afk_logout>
        <raf_max_level>60</raf_max_level>
        <preload_map_grids>0</preload_map_grids>
        <set_all_waypoints_active>0</set_all_waypoints_active>
        <enable_minigob_manabonk>1</enable_minigob_manabonk>
        <rates>
            <experience>1</experience>
            <rested_exp>1</rested_exp>
            <reputation>1</reputation>
            <money>1</money>
            <crafting>1</crafting>
            <gathering>1</gathering>
            <weapon_skill>1</weapon_skill>
            <defense_skill>1</defense_skill>
        </rates>
        <gm>
            <login_state>1</login_state>
            <visible>0</visible>
            <chat>0</chat>
            <whisper>0</whisper>
            <gm_list>0</gm_list>
            <who_list>0</who_list>
            <allow_friend>0</allow_friend>
            <allow_invite>0</allow_invite>
            <lower_security>0</lower_security>
        </gm>
    </world>
    <module>
        <eluna>
            <enabled>true</enabled>
        </eluna>
    </module>
</config>
