<?xml version="1.0"?>
<config>
  <mysql>
    <hostname>127.0.0.1</hostname>
    <port>3306</port>
    <username>acore</username>
    <password>acore</password>
  </mysql>
  <backup>
    <max_files>24</max_files>
  </backup>
</config>
